button, td {
  margin-left: 40%;
  margin-right: 35%;
}

button {
  font-size: 12px;
  border-style: double;
  border-color: black;
}

h1, h2, h3, section {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 30%;
  margin-right: 45%;
}

table {
  margin-left: 40%;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
  margin-left: -100%;
  margin-right: 20%;
  height: 50px;
  width: 100px;
  font-size: 24px;
}

html {
  background-color: #ffe6cc;
}
